* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #333;
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
  direction: rtl;
}
.cruds {
  width: 80%;
  margin:auto;
}
.head {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;

}
input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background-color: #222;
  margin: 4px 0;
  border-radius: 7px;
  padding: 4px;
  color: #fff;
}
input:focus {
  background-color: #000;
  color: #fff;
  transform: scale(1.1);
}
.price input {
width: 18%;
}
#count  {
  display: none;
}
#total {
  background-color: #a00d02;
  padding: 7px 4px;
  border-radius: 4px;
}
#total::before {
  content: "total :";
}
button,a {
  width: 100%;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: #470050;
  color: #fff;
  border-radius: 20px;
  transition: 0.5s;
  text-decoration: none;
  margin-bottom: 1%;
}
button:hover {
  background-color: #47006f;
  letter-spacing: 2px;
}
.btnsearch {
  display: flex;
  justify-content: space-between;
}
.btnsearch button {
  width: 45%;
}
#DeletAll {
  margin: 2% 0;
  font-weight: 900;
}
table {
  width: 100%;
  text-align: center;
  margin: 10px 0;

}
table th {
  text-transform: uppercase;
  color: antiquewhite;
}
th,td {
  padding: 5px;
}
footer {
  background-color: #444;
  text-align: center;
  padding: 5%;
}
footer h3 {
  font-size: 15px;
  color: #e58ac2;
  text-align: center;
  margin: auto;
}
img {
  width: 20%;
  /* padding: 2%; */

}